# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/
venv3/

# Environment files
.env

# Pyenv
.python-version

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker / local
docker-compose.override.yml

out/
logs/
*.log

# Type checkers / caches
.mypy_cache/
.pip-wheel-metadata/
.pyre/

# Others
*.sqlite3

